<!DOCTYPE html>
<html>
    <head>
        <title>Numerology App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Numerology Calculator <small>A project by Robert for Skillcrush</small></h1>
            </div>

            <hr />

            <%= yield %>
        </div>
    </body>
</html>
